.wizard-steps {
    display: block;
    left: -40px;
    list-style: none outside none;
    margin: 12px 0 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.wizard-steps li:first-child:before {
    left: 50%;
    max-width: 50%;
}
.wizard-steps li:before {
    border-top: 3px solid #e5e8ed;
    content: "";
    display: block;
    font-size: 0;
    height: 1px;
    overflow: hidden;
    position: relative;
    top: 12px;
    width: 100%;
    z-index: 1;
}
.wizard-steps li {
    display: block;
    float: left;
    max-width: 25%;
    min-width: 25%;
    text-align: center;
}

.wizard-steps li.active:before, .wizard-steps li.complete:before, .wizard-steps li.active .step, .wizard-steps li.complete .step {
    background-color: #f2f7fb;
    border-color: #cbdeee;
    box-shadow: 0 0 1px 2px #fff inset;
    color: #34a0ed;
    font-weight: bold;
}
.wizard-steps li .step {
    background-color: #fff;
    border: 2px solid #e5e8ed;
    border-radius: 32px;
    color: #d8dce6;
    display: inline;
    font-size: 19px;
    line-height: 12px;
    padding: 7px 15px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.wizard-steps li.complete .title, .wizard-steps li.active .title {
    color: #2b3d53;
}
.wizard-steps li .title {
    color: #b1bcc5;
    display: block;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
    position: relative;
    table-layout: fixed;
    text-align: center;
    top: -76px;
    word-wrap: break-word;
    z-index: 104;
}


#fuelux-wizard {
    margin-top: 60px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}


